$color-black: #000;
$color-black-light: #222;
$color-white: #fff;
$color-red: #ed0000;
$color-gray-lighter: #f0eceb;
$color-gray-light: #999;
$color-gray-medium: #767676;
$color-gray-dark: #494740;
$color-gray-10: #e5e5e5;
$color-green: #5a9664;
$color-braun: #BF9000;