$color-green-primary: #5a9664;
$color-green-secondary: #bf9000;
$color-green-tertiary: #eff7f2;

$color-black: #0b0706;
$color-white: #ffffff;
$color-off-white: #ebf0f9;

$color-green: #83d187;
$color-light-green: #ddffdf;

$color-primary-text: #1d2130;
$color-secondary-text: #525560;
$color-border: #e5e5e5;
$color-backbround: #cfcfcf;
