@import 'unit';

@mixin underline-on-hover() {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(1);
    content: '';
    background: currentColor;
    transition: transform 0.2s ease 0s;
    transform: scaleX(0);
    transform-origin: 0 0;
  }

  &.active::after,
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}
